{% extends 'client/layout.html' %}
{% load static %}
{%block content%}

<section class="contact-section">
  <div class="container">
        {% if messages %}
    <ul class="messages" style="height: 80px; background-color: lightgrey;">
        {% for message in messages %}

        <li style="font-size: 25px; list-style: none; line-height: 80px; font-weight: bolder; color: red;" class="text-center" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
      <div class="row">
          <div class="col-12">
              <h2 class="contact-title">Forgot</h2>

          </div>
          <div class="col-lg-8">
              <form class="form-contact contact_form" method="post" action="/client/forgot_password">
                {% csrf_token %}
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Mail id" >
                          </div>
                      </div>
                  </div>
                  <div class="form-group mt-3">
                      <button id="singlebutton" name="singlebutton" class="button button-contactForm boxed-btn" >Forgot</button>
                  </div>
              </form>
          </div>
          <!-- <div class="col-lg-3 offset-lg-1">
              <div class="media contact-info">
                  <span class="contact-info__icon"><i class="ti-home"></i></span>
                  <div class="media-body">
                      <h3>Buttonwood, California.</h3>
                      <p>Rosemead, CA 91770</p>
                  </div>
              </div>
              <div class="media contact-info">
                  <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                  <div class="media-body">
                      <h3>+1 253 565 2365</h3>
                      <p>Mon to Fri 9am to 6pm</p>
                  </div>
              </div>
              <div class="media contact-info">
                  <span class="contact-info__icon"><i class="ti-email"></i></span>
                  <div class="media-body">
                      <h3>support@colorlib.com</h3>
                      <p>Send us your query anytime!</p>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</section>

{% endblock %}